<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      Above the System is made as a way of getting students to organize assignments for their respective classes in their repective schools. This will enable students to take greater responsibility over dictating their own learning by accessing documents for future classes ahead of time, thus allowing the learning curve to continue during holidays too. Our current team members are mainly in college and have made this as a way of helping the students who are currently in highschool as well as those who will eventually go through it. In the future this service may be further expanded to other level institutions like college. 
    </p>
  </body>
</html>
